# Data Scrapping Homework           - Jaynil Patel

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Defining headers and URL

In [2]:
headers = {'User-Agent':'Mozzila/5.0'}
url = 'https://en.wikipedia.org/wiki/List_of_active_Indian_military_aircraft'

## Getting the response

In [3]:
response = requests.get(url, headers)
response

## Parsing the response content using BeautifulSoup

In [4]:
soup = BeautifulSoup(response.content,'html.parser')

#### Getting all the tags having class = 'wikitable' using the read_html() method of pandas. They are Tables.
#### As we want only first table which is containg the data of active_Indian_military_aircrafts, we will get it by writing tables[0] and store it into df.

In [6]:
tables = pd.read_html(str(soup), attrs={"class": "wikitable"})
df = tables[0]

In [7]:
df.head()

,Aircraft,Origin,Type,Variant,In service,Notes
,Combat Aircraft,Combat Aircraft,Combat Aircraft,Combat Aircraft,Combat Aircraft,Combat Aircraft
0,Dassault Rafale,France,Multirole,DH,8[1],NaN
1,Dassault Rafale,France,Multirole,EH,28[1],NaN
2,HAL Tejas,India,Multirole,Mk.1,31[2][3],NaN
3,HAL Tejas,India,Conversion trainer,Mk.1 Trainer,2[4][5],Used for training; 16 more on order[6]
4,HAL Tejas,India,Multirole,Mk.1A,NaN,"73 on order, 97 more approved[6][7]"

## Defining column names

In [8]:
df.columns = ['Aircraft','Origin','Type','Variant','In service','Notes']

In [9]:
df.head()

,Aircraft,Origin,Type,Variant,In service,Notes
0,Dassault Rafale,France,Multirole,DH,8[1],NaN
1,Dassault Rafale,France,Multirole,EH,28[1],NaN
2,HAL Tejas,India,Multirole,Mk.1,31[2][3],NaN
3,HAL Tejas,India,Conversion trainer,Mk.1 Trainer,2[4][5],Used for training; 16 more on order[6]
4,HAL Tejas,India,Multirole,Mk.1A,NaN,"73 on order, 97 more approved[6][7]"

## Converting the DataFrame into csv file.

In [24]:
df.to_csv('List_of_active_Indian_military_aircraft.csv',index=False)